body {
  font-family: "Courier New", Courier, monospace;
  background-color: aliceblue;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.toggle {
  text-align: center;
}

/* Container Styling */
.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 3rem;
  box-shadow: -5px -5px -5px 15px black;
}

/* Heading */
h1 {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

/* Paragraph Styling */
p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555;
}

#monthMessage {
  font-size: 1.5rem;
  color: #4caf50;
  font-weight: bold;
}

/* Input Field */
input {
  width: 100%;
  max-width: 270px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Button Styling */
button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0f6e12;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
    border-radius: 2rem;
    box-shadow: -3px -3px -3px 10px black;
    margin: 1.5rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }

  input {
    font-size: 0.9rem;
    padding: 8px;
  }

  button {
    font-size: 0.9rem;
    padding: 8px 15px;
  }

  #monthMessage {
    font-size: 1.2rem;
  }
}
